<%- include('./includes/header.ejs') %>
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>404 PAGE NOT FOUND</h2>
      </div>
    </div>
</section><!-- End Services Section -->
<%- include('./includes/footer.ejs') %>